.page-template-news {
    background-image: initial;
    
    .grid {
        width: 100%;
        display: inline-block;
    }

    .grid-item {
        margin-bottom: 15px;
        
        .grid-item-img {
            background-image: url('../images/box-placeholder.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        
            @include aspect-ratio(406, 230);
        }
        
        .item-description {
            background-color: $grey-bg-block;
            padding: 33px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            word-wrap: break-word;
            min-height: 240px;
        }
    }
    
    .item-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        @include media-breakpoint-up(lg) {
          padding-top: $spacing;
        }
        
        p {
          color: $library-paragraph;
          font-size: 16px;
        }
        
        &:nth-child(3n+1) {
            clear: left;
        }
        
        @include media-breakpoint-down(md) {
            &:nth-child(3n+1) {
                clear: none;
            }
            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }
    
    .see-all-cont {
        margin: 90px 0 40px;
        text-align: center;
        span,
        span:active:hover {
            cursor: pointer;
            color: #2b40ab;
            font-style: italic;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 0;
            border-radius: 0;
            background-color: #fafafa;
            border-color: #ededed;
            padding: 10px 20px;
        }
    }
    a {
        text-decoration: none;
    }
    
    
  
}

.intro-news-section {
    padding-top: 120px;
    color: $black;
    h1 {
        color: $tables-stripe-light;
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        padding: 40px 0;
        border-bottom: 2px solid $border-grey;
        border-top: 2px solid $border-grey;
    }
    
    .tabs-swith-block {
        margin: 40px 0 70px;
        text-align: center;
        .tab-link {
            padding: 0 5%;
            display: inline-block;
            color: $tables-stripe-light;
            font-size: 34px;
            font-weight: 400;
            line-height: 60px;
            text-transform: uppercase;
            transition: color 0.3s ease-in-out;
            cursor: pointer;
            &.current {
                color: $current-tab;
            }
        }
    }
}

section.tab-content {
    display: none;
    color: $tables-stripe-light;
    padding-bottom: 50px;
    &#press {
        display: block;
    }
    
    &.blog {
        background-color: $white;
        .blog-link {
            margin-bottom: 15px;
            @media (min-width: 992px){
                padding-top: 30px;
            }
        }
        .blog-post {
            background-color: $grey-bg-block;
            position: relative;
            text-align: center;
            padding: 70px 33px 90px;

            a {
                color: $black-txt;
                &.view-post {
                    padding: 10px 50px;
                    background-color: $black-txt;
                    color: $white;
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: background-color 0.3s ease-in-out;
                    &:hover {
                        background-color: $black-link-hover;
                    }
                }
            }
            .date-post {
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);
                width: 80px;
                height: 80px;
                background: $black-txt;
                border-radius: 50%;
                text-align: center;
                color: $white;
                font-weight: 600;
                padding-top: 15px;
            }
        }
        .blog-image-container:hover:before {
            background-color: transparent;
        }
        p {
            color: $library-paragraph;
        }
        
        .see-all-posts {
            text-align: center;
            width: 100%;
            margin: 40px 0;
            a {
                display: inline-block;
                padding: 10px 50px;
                background-color: $black-txt;
                color: $white;
                font-size: 19px;
                transition: opacity 0.3s ease-in-out;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
     p.hero-twitter-section {
        color: #191919;
        font-size: 48px;
        font-weight: 300;
        font-style: italic;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .banner-twitter {
        float: left;
        height: 100px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 65px;
    }
    .twitter-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &>div {
            margin-bottom: 15px;
        }
        .centered {
            width: 100%;
            text-align: center;
        }
        .load-more-tweet {
            margin: 90px 0 40px;
            text-align: center;
            width: 100%;
            span {
                cursor: pointer;
                color: #2b40ab;
                font-style: italic;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 0;
                border-radius: 0;
                background-color: #fafafa;
                border-color: #ededed;
                padding: 10px 20px;
            }
        }
    }
    .tweet-item {
        min-height: 230px;
        padding: 25px;
        background: #949494;
           background: -moz-linear-gradient(45deg, #b5b5b5 0%, #949494 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #b5b5b5 0%,#949494 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #b5b5b5 0%,#949494 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#949494',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: $white;
        height: 100%;
        .user_block {
            display: inline-block;
            width: 100%;
            margin-bottom: 16px;
            img {
                border-radius: 50%;
                margin-right: 10px;
                max-width: 60px;
                float: left;
            }
            p.user-name-cont {
                line-height: 15px;
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                padding-top: 15px;
                span {
                    font-size: 10px;
                    font-weight: 300;
                }
            }
        }
        p {
            margin-bottom: 15px;
            a {
                color: $white;
                border-bottom: 1px solid $white;
            }
        }
        .tweet_time {
            font-size: 14px;
        }
        a {
            color: $white;
        }
    }
}