body, html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  color: #fff;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background-attachment: fixed;
  background-image: url("../images/bg-home.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: none;
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
}

p {
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  p {
    line-height: 1.6;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

.blue-span {
  color: #00849b;
}

.height-100 {
  height: 100%;
}

@media (max-width: 991px) {
  .logo-circle {
    display: none;
  }
}
@media (min-width: 992px) {
  .logo-circle {
    position: absolute;
    z-index: 101;
    top: -80px;
    left: 0;
  }
}

.navbar-geopath {
  background-color: rgba(0, 0, 0, 0.85);
  font-weight: 300;
  top: 0px;
  width: 100%;
  border-radius: 0;
  height: 75px;
  border: 0;
  border-bottom: 1px solid #fff;
  z-index: 100;
  position: fixed;
  -webkit-transform: translateZ(0);
}
@media (max-width: 767px) {
  .navbar-geopath {
    height: 55px;
  }
}
.navbar-geopath.fixed {
  position: fixed !important;
  top: 0;
}
.navbar-geopath .navbar-nav > li {
  margin-right: 48px;
}
@media (max-width: 991px) {
  .navbar-geopath .navbar-nav > li {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .navbar-geopath .navbar-nav > li {
    margin-right: 0;
  }
}
.navbar-geopath .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  background-color: transparent !important;
}
.navbar-geopath .navbar-nav > li > a:hover {
  color: #00849b !important;
}
@media (max-width: 767px) {
  .navbar-geopath .navbar-nav {
    margin: 0 -15px;
  }
}
.navbar-geopath .navbar-nav > .active > a, .navbar-geopath .navbar-nav > .active > a:focus, .navbar-geopath .navbar-nav > .active > a:hover {
  color: #00849b;
}
.navbar-geopath .active {
  background-color: rgba(200, 200, 200, 0.35) !important;
}
@media (max-width: 767px) {
  .navbar-geopath {
    top: 0;
    height: auto;
    position: fixed;
  }
}
.navbar-geopath .navbar-toggle-geopath {
  border: 0;
  background-color: transparent;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .navbar-geopath .navbar-toggle-geopath {
    margin-top: 2px;
    margin-bottom: 0;
  }
}
.navbar-geopath .navbar-toggle-geopath:hover, .navbar-geopath .navbar-toggle-geopath:focus {
  background-color: transparent;
}

.navbar-geopath.fixed {
  position: fixed !important;
  top: 0;
}

#hamburger {
  width: 42px;
  height: 34px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #00849b;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
  top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
  top: 13px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
  top: 26px;
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(1),
.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(2),
.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(1) {
  left: 5px;
  top: 5px;
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(2) {
  left: calc(50% - 5px);
  top: 5px;
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(5) {
  left: 5px;
  top: 17px;
}

.navbar-toggle-geopath:not(.collapsed) #hamburger span:nth-child(6) {
  left: calc(50% - 5px);
  top: 17px;
}

@media (min-width: 768px) {
  .navbar-header-geopath {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

.navbar-brand-geopath {
  height: auto;
  padding: 10px 16px;
}
@media (max-width: 767px) {
  .navbar-brand-geopath {
    transform: scale(0.6);
    transform-origin: 0 100%;
    left: 16px;
    position: relative;
    padding: 0;
    top: -10px;
  }
}

@media (max-width: 767px) {
  .geopath-navbar-collapse {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .geopath-navbar-collapse {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

.navbar-geopath .navbar-nav > li > a:visited {
  color: #fff;
}

header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 543px) {
  header .welcome {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 544px) {
  header .welcome {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 992px) {
  header .welcome {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header .welcome p {
  font-size: 24px;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-down:hover {
  text-decoration: none;
  color: inherit;
}
.scroll-down img {
  margin-top: 15px;
}

.background-overlay {
  background-image: url("../images/mobilebillboardgeopathbkgd-copy.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.info {
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.info .text {
  text-align: center;
}
@media (max-width: 767px) {
  .info .text {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .info .text {
    padding: 90px;
  }
}
@media (max-width: 767px) {
  .info .headline {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .info .headline {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .info .headline {
    font-size: 36px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .info .additional {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .info .additional {
    font-size: 20px;
  }
}
.info .headline,
.info .additional {
  margin-bottom: 20px;
}

.blog {
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: black;
  background-size: initial;
}
.blog .blog-image-container {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
}
.blog .blog-image-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 55.3846153846%;
}
.blog .blog-image-container > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog .blog-image-container:before {
  transition: background-color 0.6s ease;
}
.blog .blog-image-container:hover:before {
  background-color: rgba(0, 0, 0, 0.6);
}
.blog .blog-image-container:hover > div {
  visibility: visible;
}
.blog .blog-image-container:hover > div:hover > div {
  width: 121px;
}
.blog .blog-image-container > div {
  display: flex;
  visibility: hidden;
  width: 121px;
  height: 121px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 60.5px);
  right: auto;
  bottom: auto;
}
.blog .blog-image-container > div > div {
  display: flex;
  justify-content: center;
}
.blog .blog-image-container > div:hover .contact-details-container {
  display: inline-block;
  min-width: 230px;
  position: absolute;
}
.blog .blog-image-container > div .author-avatar {
  width: 121px;
  text-align: center;
}
.blog .blog-image-container:hover .hover-overlay {
  opacity: 0.6;
}
.blog .blog-image-container:hover .details-container {
  opacity: 1;
  visibility: visible;
}
.blog .blog-post-image {
  width: 100%;
}
.blog .hover-overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 0.6s ease;
}
.blog .details-container {
  display: flex;
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  align-self: center;
  flex-direction: column;
  opacity: 1;
  visibility: hidden;
  z-index: 2;
}
.blog .details-container:hover .contact-details-container {
  display: inline-block;
}
.blog .image-wrapper {
  width: 121px;
  height: 121px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
  z-index: 5;
}
.blog .contact-details-container {
  background-color: #c3d3d7;
  border-radius: 3px;
  padding: 10px 4px;
  vertical-align: text-bottom;
  position: relative;
  display: none;
  margin-top: 147px;
  z-index: 2;
}
.blog .contact-details-container span, .blog .contact-details-container a {
  display: block;
  color: #55646b;
  line-height: 24px;
  margin: 14px 0;
  white-space: nowrap;
}
.blog .contact-details-container span:after, .blog .contact-details-container a:after {
  content: "";
  width: 100%;
  height: 1px;
  position: relative;
  top: 5px;
  background-color: #c3d3d7;
  display: block;
}
.blog .contact-details-container span:last-child:after, .blog .contact-details-container a:last-child:after {
  display: none;
}
.blog .line::after {
  content: "";
  width: 100%;
  height: 1px;
  position: relative;
  top: 5px;
  background-color: #c3d3d7;
  display: block;
}
.blog .contact-details {
  background-color: #fff;
  border-radius: 3px;
  padding: 2px 20px;
  text-align: center;
}
.blog .the-blog {
  display: block;
  margin: 80px auto 38px;
}
.blog h1 {
  color: #000;
  text-align: center;
  margin: 0;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .blog h1 {
    font-size: 64px;
  }
}
.blog .o {
  color: transparent;
  position: relative;
}
.blog .o::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border: 5px solid #00849b;
  border-radius: 50%;
  left: 2px;
  top: 17px;
}
@media (max-width: 767px) {
  .blog .o::after {
    width: 24px;
    height: 24px;
    border: 4px solid #00849b;
    top: 13px;
    left: 0;
  }
}
.blog .o ::selection {
  color: transparent;
}
.blog .go-to-blog-link {
  color: #2c2c2c;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 8px;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .blog .go-to-blog-link {
    text-decoration: underline;
  }
}
.blog .go-to-blog-link:hover {
  cursor: pointer;
}
.blog .blog-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
}
.blog .blog-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  align-items: stretch;
}
.blog .blog-post {
  flex-grow: 4;
  padding: 33px;
}
@media (max-width: 991px) {
  .blog .blog-post {
    margin-bottom: 40px;
  }
}
.blog .blog-post a {
  color: #fff;
}
@media (max-width: 767px) {
  .blog .blog-post a {
    text-decoration: underline;
  }
}
@media (min-width: 768px) {
  .blog .blog-post a {
    font-size: 19px;
  }
}
.blog .blue-overlay {
  background-color: #051c21;
}
.blog .orange-overlay {
  background-color: #692303;
}
.blog .purple-overlay {
  background-color: #27142f;
}
.blog h2, .blog p {
  margin-bottom: 20px;
}
.blog h2 {
  font-weight: 600;
}
@media (max-width: 991px) {
  .blog h2 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .blog h2 {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .blog p {
    font-size: 25px;
  }
}
.blog .color-1 {
  background-color: #1eb2d4;
}
.blog .color-2 {
  background-color: #fa7a3e;
}
.blog .color-3 {
  background-color: #9b59b6;
}

.get-in-touch {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
}
.get-in-touch .wpcf7 {
  width: 100%;
}
.get-in-touch .wpcf7 .wpcf7-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.get-in-touch .wpcf7 .wpcf7-form .wpcf7-response-output {
  display: block;
  width: 50%;
  margin-left: 50%;
  margin-top: 0;
  margin-bottom: 0;
  border: none !important;
  color: #2c2c2c;
}
@media (max-width: 767px) {
  .get-in-touch .wpcf7 .wpcf7-form .wpcf7-response-output {
    width: 100%;
    margin-left: 0;
  }
}
.get-in-touch .wpcf7 .wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
  color: #880000;
}
.get-in-touch .wpcf7 .wpcf7-form .ajax-loader {
  position: absolute;
  right: 28px;
  top: 12px;
}
.get-in-touch .wpcf7 .wpcf7-form .subscribe-container {
  height: 38px;
  overflow: hidden;
}
.get-in-touch .wpcf7 .wpcf7-form .subscribe-container .wpcf7-form-control-wrap {
  width: calc(100% - 28px);
  display: inline-block;
  position: relative;
}
.get-in-touch .wpcf7 .wpcf7-form .subscribe-container .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  display: none !important;
}
.get-in-touch .wpcf7 .wpcf7-form .subscribe-container .wpcf7-form-control-wrap input {
  width: 100%;
}
.get-in-touch .wpcf7 .wpcf7-form .subscribe-container .wpcf7-submit {
  width: 28px;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
}
.get-in-touch .grey-overlay {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(234, 234, 234, 0.86) 80%, gainsboro 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.get-in-touch .stripe {
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  width: 100%;
  margin: 30px 0;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .get-in-touch .stripe {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
  }
}
.get-in-touch .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 992px) {
  .get-in-touch .flex {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch .flex {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .get-in-touch .subscribe-position {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .get-in-touch .subscribe-position {
    text-align: center;
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .get-in-touch .subscribe-position {
    width: 50%;
  }
}
.get-in-touch .follow-us {
  color: #464545;
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .get-in-touch .follow-us {
    font-size: 1.5rem;
  }
}
.get-in-touch .social-container {
  display: inline-block;
  position: relative;
}
@media (min-width: 768px) {
  .get-in-touch .social-container {
    margin-right: 42px;
  }
}
@media (min-width: 992px) {
  .get-in-touch .social-container::after {
    content: "";
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 51px;
    height: 43px;
    right: -48px;
    top: 45px;
  }
}
@media (min-width: 992px) and (min-width: 992px) and (max-width: 1199px) {
  .get-in-touch .social-container::after {
    transform: scale(0.8);
    right: -43px;
    top: 29px;
  }
}
.get-in-touch .social-icon {
  color: #00849b;
  transition: color 0.6s ease;
}
@media (max-width: 767px) {
  .get-in-touch .social-icon {
    font-size: 33px;
  }
}
@media (min-width: 768px) {
  .get-in-touch .social-icon {
    font-size: 41px;
  }
}
@media (min-width: 1200px) {
  .get-in-touch .social-icon {
    font-size: 50px;
  }
}
.get-in-touch .social-icon:hover {
  color: #005968;
}
.get-in-touch .divider {
  text-align: center;
  display: flex;
}
@media (max-width: 767px) {
  .get-in-touch .divider {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch .divider {
    flex-direction: column;
    align-items: center;
  }
}
.get-in-touch .divider::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: #75777c;
  position: absolute;
  left: 0;
}
@media (max-width: 991px) {
  .get-in-touch .divider::before {
    display: none;
  }
}
.get-in-touch .get-the-updates-container {
  display: inline-block;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch .get-the-updates-container {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .get-in-touch .get-the-updates-container {
    margin: 0 auto;
  }
}
@media (min-width: 544px) {
  .get-in-touch .get-the-updates-container {
    width: 50%;
  }
}
@media (max-width: 543px) {
  .get-in-touch .get-the-updates-container {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .get-in-touch .get-the-updates-container {
    text-align: center;
  }
}
.get-in-touch .get-the-updates-container p:last-child {
  margin-bottom: 0;
}
.get-in-touch .get-the-updates {
  font-size: 2.6rem;
}
@media (min-width: 768px) {
  .get-in-touch .get-the-updates {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .get-in-touch .get-the-updates {
    line-height: 1.2;
  }
}
.get-in-touch h1 {
  color: #2c2c2c;
  font-size: 2.6rem;
}
@media (min-width: 768px) {
  .get-in-touch h1 {
    font-size: 30px;
  }
}
.get-in-touch p {
  color: #2c2c2c;
}
.get-in-touch .subscribe-container {
  display: inline-block;
  padding: 3px;
  border-bottom: 2px solid #c3d3d7;
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .get-in-touch .subscribe-container {
    width: 74%;
  }
}
@media (max-width: 543px) {
  .get-in-touch .subscribe-container {
    width: 80%;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .get-in-touch .subscribe-container {
    width: 50%;
  }
}
.get-in-touch .join-our-newsletter {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: #c3d3d7;
  outline: 0;
  width: calc(100% - 23px);
}
.get-in-touch .join-our-newsletter::-webkit-input-placeholder {
  color: #c3d3d7;
}
.get-in-touch .join-our-newsletter::-moz-placeholder {
  color: #c3d3d7;
}
.get-in-touch .join-our-newsletter:-ms-input-placeholder {
  color: #c3d3d7;
}
.get-in-touch .join-our-newsletter:-moz-placeholder {
  color: #c3d3d7;
}
.get-in-touch .paper-plane {
  color: #00849b;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 20px;
}
.get-in-touch .paper-plane:hover {
  color: #005968;
}
.get-in-touch .slider {
  margin: 30px 40px;
}
@media (min-width: 544px) and (max-width: 767px) {
  .get-in-touch .slider {
    margin-left: 42px;
    margin-right: 42px;
  }
}
@media (max-width: 543px) {
  .get-in-touch .slider {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 544px) {
  .get-in-touch .slick-prev:before {
    content: "";
    background-image: url("../images/arrow-left.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (min-width: 544px) {
  .get-in-touch .slick-next:before {
    content: "";
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slick-initialized .slick-slide {
  padding: 10px;
}
.slick-initialized .slick-slide a {
  position: relative;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.slick-initialized .slick-slide a:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.slick-initialized .slick-slide a > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.what-we-do {
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .what-we-do {
    background-position: center top;
    background-repeat: repeat;
    background-size: initial;
  }
}
.what-we-do img {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.what-we-do h1 {
  margin: 0;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .what-we-do h1 {
    font-size: 54px;
  }
}
.what-we-do h2 {
  margin: 0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .what-we-do h2 {
    font-size: 2rem;
  }
}
.what-we-do .top-overlay {
  text-align: center;
}
.what-we-do .middle-overlay, .what-we-do .bottom-overlay {
  padding-top: 60px;
  padding-bottom: 60px;
}
.what-we-do .bottom-overlay {
  background: linear-gradient(to bottom, rgba(160, 160, 160, 0) 0%, black 100%);
}
.what-we-do p {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .what-we-do p {
    font-size: 23px;
  }
}
@media (min-width: 768px) {
  .what-we-do .flex {
    display: flex;
    align-items: center;
  }
}

.insights {
  background-color: black;
  background-position: center top;
  background-size: initial;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}
.insights h1, .insights h2, .insights h3, .insights p {
  color: #000;
}
.insights h3 {
  margin-top: 30px;
}
.insights h1 {
  padding: 60px 0 100px;
  margin: 0;
}
@media (min-width: 768px) {
  .insights h1 {
    font-size: 64px;
  }
}
@media (max-width: 991px) {
  .insights h1 {
    padding: 60px 0;
  }
}
.insights h2 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .insights h2 {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .insights h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .insights h3 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .insights p {
    font-size: 25px;
  }
}
.insights .first-col p {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .insights .first-col p {
    font-size: 25px;
  }
}
.insights .border-top {
  position: relative;
}
.insights .border-top::after {
  content: "";
  width: calc(100% - 30px);
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
}
.insights .borders {
  padding-top: 1px;
  position: relative;
}
.insights .borders::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #000;
}
.insights .borders p {
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .insights .borders {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .insights .borders {
    border-bottom: 0;
  }
}
.insights .o {
  color: transparent;
  position: relative;
}
.insights .o::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border: 5px solid #00849b;
  border-radius: 50%;
  left: 2px;
  top: 17px;
}
@media (max-width: 767px) {
  .insights .o::after {
    width: 24px;
    height: 24px;
    border: 4px solid #00849b;
    top: 13px;
    left: 0;
  }
}
.insights .o ::selection {
  color: transparent;
}
.insights .img-space {
  margin: 30px auto;
}
@media (min-width: 992px) {
  .insights .flex {
    display: flex;
    align-items: stretch;
  }
}

footer {
  background-color: #262626;
  position: relative;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .footer-flex {
  -webkit-display: flex;
  display: flex;
  position: relative;
  align-items: stretch;
}
@media (max-width: 767px) {
  footer .footer-flex {
    flex-direction: column;
  }
}
footer .footer-brand {
  background: url("../images/geopath-white.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}
footer .footer-brand:hover {
  background: url("../images/geopath-grey.png");
  background-size: cover;
}
@media (min-width: 768px) {
  footer .footer-brand {
    width: 210px;
    height: 57px;
  }
}
@media (min-width: 992px) {
  footer .footer-brand {
    width: 272px;
    height: 74px;
  }
}
@media (max-width: 767px) {
  footer .footer-brand {
    width: 202px;
    height: 55px;
  }
}
footer p {
  margin: 0;
}
@media (max-width: 767px) {
  footer p {
    line-height: 1.6;
  }
}
footer .wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 767px) {
  footer .wrapper {
    margin-top: 40px;
  }
}
footer .geopath-grey {
  margin: 0 auto 100px;
}
@media (max-width: 767px) {
  footer .geopath-grey {
    margin: 40px auto 40px;
  }
}
footer .middle-container {
  -webkit-display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1 0 auto;
}
footer .social-container {
  text-align: center;
}
footer .map-container {
  padding-left: 0;
  display: flex;
  min-height: 419px;
}
@media (max-width: 767px) {
  footer .map-container {
    padding-right: 0;
    height: 340px;
  }
}
footer .map {
  width: 100%;
}
footer .social-icon {
  color: #fff;
  transition: color 0.6s ease;
}
@media (min-width: 768px) {
  footer .social-icon {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  footer .social-icon {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  footer .social-icon {
    font-size: 39px;
  }
}
footer .social-icon:hover {
  color: #75777c;
  cursor: pointer;
}
@media (max-width: 767px) {
  footer .social-container {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .social-container {
    width: 100%;
    text-align: center;
  }
}
footer .flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 40px;
}
footer .flex-space-around p:first-child {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .flex-space-around {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  footer .flex-space-around {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  footer .flex-space-around img {
    margin-bottom: 30px;
  }
}
footer h1 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #c8c8c8;
}
@media (max-width: 767px) {
  footer h1 {
    margin-bottom: 10px;
    margin-top: 0;
  }
}
footer p {
  font-size: 24px;
  color: #c8c8c8;
}
@media (max-width: 767px) {
  footer p {
    line-height: 1.2;
    margin: 0;
  }
}
footer .flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  footer .flex {
    padding: 0 30px 60px;
  }
}
footer img {
  width: 200px;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .welcome {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .welcome p {
    font-size: 20px;
  }
  .welcome img {
    width: 50%;
    margin: 0 auto;
  }

  header .scroll-down span {
    font-size: 20px;
  }
  header .scroll-down img {
    margin-top: 0;
    width: 25%;
  }
}
.corner-logo {
  height: 100%;
  margin: 115px 22px -390px 50px;
  text-align: center;
  position: relative;
}

.second-corner-logo {
  height: 100%;
  margin: 115px 250px -390px 50px;
  text-align: center;
  position: relative;
}

.third-corner-logo {
  height: 100%;
  margin: 115px 478px -390px 50px;
  text-align: center;
  position: relative;
}

.text-absolute {
  position: absolute;
  margin: auto;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  font-family: "Myriad Pro", Calibri, sans-serif;
  color: #ffffff;
}

@media only screen and (max-width: 1440px) {
  .corner-logo,
.second-corner-logo, .third-corner-logo {
    margin: 85px 5px -180px 5px;
  }
  .corner-logo p,
.second-corner-logo p, .third-corner-logo p {
    font-size: 10px !important;
  }

  #corner-image,
#second-corner-image, #third-corner-image {
    width: 150px;
  }
}
@media only screen and (max-width: 780px) {
  .scroll-down {
    bottom: 0;
  }

  header {
    height: 90%;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .corner-logo,
.second-corner-logo, .third-corner-logo  {
    margin-top: 60px;
    margin-bottom: -155px;
  }

  #corner-image,
#second-corner-image, #third-corner-image {
    width: 100px;
  }
}
.homepage-header {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.geekout,
.page-template-geekout {
  background-image: none;
  color: #040404;
}
.geekout .navbar-geopath,
.page-template-geekout .navbar-geopath {
  top: 0;
}

.geekout-header {
  background-image: url("../images/blackmap-big.jpg");
  background-position: center center;
  background-size: cover;
  height: auto;
  flex-direction: column;
  text-align: center;
}
.geekout-header .geekout-img {
  margin: 138px auto 0;
}
@media (max-width: 767px) {
  .geekout-header .geekout-img {
    padding-left: 8px;
    padding-right: 8px;
    margin: 104px auto 0;
  }
}
.geekout-header p {
  font-size: 36px;
  margin: 30px 0;
  color: #fff;
}
@media (max-width: 767px) {
  .geekout-header p {
    font-size: 1.2rem;
  }
}

.geekout-nav {
  border-top: 1px solid #75777c;
  border-bottom: 1px solid #75777c;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .geekout-nav {
    border-bottom: 0;
  }
}

.geekout-nav-buttons {
  width: 992px;
  display: flex;
}
@media (max-width: 767px) {
  .geekout-nav-buttons {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .geekout-nav-buttons {
    width: 768px;
  }
}
.geekout-nav-buttons .geekout-nav-items {
  font-size: 30px;
  border-right: 1px solid #75777c;
  margin: 0;
  display: flex;
  flex-grow: 1;
  text-align: center;
  width: 25%;
}
@media (max-width: 767px) {
  .geekout-nav-buttons .geekout-nav-items {
    width: 100%;
    border: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #75777c;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .geekout-nav-buttons .geekout-nav-items {
    font-size: 20px;
  }
}
.geekout-nav-buttons .geekout-nav-items a {
  padding: 33px 35px;
  color: #040404;
  width: 100%;
  border-radius: 0;
  font-size: 21px;
}
@media (max-width: 767px) {
  .geekout-nav-buttons .geekout-nav-items a {
    padding: 15px 0;
  }
}
@media (max-width: 991px) {
  .geekout-nav-buttons .geekout-nav-items a {
    font-size: 18px;
    padding: 20px 10px;
  }
}
.geekout-nav-buttons .geekout-nav-items:first-child {
  border-left: 1px solid #75777c;
}
@media (max-width: 767px) {
  .geekout-nav-buttons .geekout-nav-items:first-child {
    border-left: 0;
  }
}

.geekout-section {
  text-align: center;
}
.geekout-section h1 {
  font-size: 60px;
}
@media (max-width: 767px) {
  .geekout-section h1 {
    font-size: 2.6rem;
  }
}
.geekout-section h1,
.geekout-section .geekout-link {
  margin-bottom: 30px;
  margin-top: 80px;
}
.geekout-section .geekout-link {
  display: inline-block;
  font-size: 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .geekout-section .geekout-link {
    margin: 40px 0;
    text-decoration: underline;
    font-size: 1.6rem;
  }
}
.geekout-section .geekout-link:hover {
  cursor: pointer;
}

.geekout-library {
  background: url("../images/aerial.jpg"), url("../images/bookshelf.jpg");
  background-position: center bottom, center -1px;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  width: 100%;
  height: auto;
}
.geekout-library .gradient::before {
  content: "";
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.4) 100%);
  width: 100%;
  height: calc(100% - 237px);
  top: 0;
  left: 0;
  position: absolute;
}

.our-research {
  background-image: url("../images/white-map.png");
  background-repeat: no-repeat;
  background-position: center -1px;
  padding-bottom: 30px;
}

.transit {
  background-image: url("../images/branches.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #fff;
  position: relative;
}
.transit .charts-container {
  margin: 100px 0 0;
}
@media (max-width: 767px) {
  .transit .charts-container {
    margin: 60px 0 0;
  }
}
@media (max-width: 767px) {
  .transit .charts-container > .row > div:nth-child(3) {
    clear: both;
  }
}
.transit .chart {
  margin: 0 auto;
}
.transit .icon-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.transit .icon-link:hover {
  color: #d9d9d9;
}
.transit .caption {
  margin: 30px 0;
  display: inline-block;
}
.transit .gradient::before {
  content: "";
  background: linear-gradient(to bottom, rgba(160, 160, 160, 0) 0%, black 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.transit .no-padding {
  padding: 0;
}
@media (min-width: 768px) {
  .transit .no-padding-left {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .transit .no-padding-right {
    padding-right: 0;
  }
}

.out-of-home {
  background-image: url("../images/white-map.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 30px;
}
.out-of-home .video-bg {
  background-color: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
}
.out-of-home .video-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 767px) {
  .out-of-home .video-container {
    margin-top: 30px;
    text-align: center;
  }
}
.out-of-home .video {
  border: 0;
  margin: 0 auto;
}
.out-of-home .video-title {
  color: #5fd1dd;
  font-size: 19px;
}
@media (max-width: 767px) {
  .out-of-home .video-title {
    font-size: 2rem;
  }
}
.out-of-home .date-published {
  color: #bebdbe;
  font-size: 0.9rem;
}

#library-login-form {
  margin-top: 25px !important;
}
#library-login-form .auth0-login #a0LoginButton {
  background: #00849b;
  color: #fff;
  border: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-top: 5px;
  max-width: 200px;
  margin: 0 auto 50px;
}

#auth0-lock-container-1 .auth0-lock-submit {
  background: #00849b !important;
}

.library,
.page-template-library {
  background-image: none;
  text-align: center;
}
.library h1,
.page-template-library h1 {
  font-size: 60px;
  margin: 0;
  padding: 60px 0;
  color: #000;
}
.library h2,
.page-template-library h2 {
  color: #2b40ab;
  font-style: italic;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}
.library h3,
.page-template-library h3 {
  font-size: 21px;
  color: #000;
}
.library p,
.page-template-library p {
  font-size: 23px;
}
.library .navbar-geopath,
.page-template-library .navbar-geopath {
  top: 0;
}
.library .navbar-geopath a,
.page-template-library .navbar-geopath a {
  cursor: pointer;
}
.library .library-filters,
.page-template-library .library-filters {
  margin-left: -15px;
  margin-right: -15px;
}
.library .geekout-library,
.page-template-library .geekout-library {
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.4) 100%), url("../images/bookshelf.jpg");
  background-position: center top, center top;
  background-size: 100% 100%, cover;
  background-repeat: no-repeat, no-repeat;
  margin-top: 75px;
  color: #000;
}
@media (max-width: 767px) {
  .library .geekout-library,
.page-template-library .geekout-library {
    margin-top: 55px;
  }
}
.library .geekout-nav,
.page-template-library .geekout-nav {
  border: 0;
  display: inline-flex;
  width: auto;
}
@media (max-width: 767px) {
  .library .geekout-nav,
.page-template-library .geekout-nav {
    display: none;
  }
}
.library .geekout-nav .first,
.page-template-library .geekout-nav .first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 15px 20px;
}
.library .dropdown-toggle,
.page-template-library .dropdown-toggle {
  background-color: #f5f5f5;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 0;
}
.library .dropdown-toggle:hover,
.page-template-library .dropdown-toggle:hover {
  background-color: white;
}
.library .geekout-nav-items:hover .dropdown-content,
.page-template-library .geekout-nav-items:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition: 0s;
}
.library .geekout-nav-items,
.page-template-library .geekout-nav-items {
  position: relative;
  font-size: 18px;
  border: 1px solid #e7e7e7;
  border-left: 0;
}
.library .geekout-nav-items:first-child,
.page-template-library .geekout-nav-items:first-child {
  border-left: 1px solid #e7e7e7;
  color: #9b9b9b;
}
.library .geekout-nav-items a,
.page-template-library .geekout-nav-items a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}
.library .last + .btn-group,
.page-template-library .last + .btn-group {
  border-right: 0 !important;
}
.library .btn-default.active,
.library .btn-default:active,
.library .open > .dropdown-toggle.btn-default,
.page-template-library .btn-default.active,
.page-template-library .btn-default:active,
.page-template-library .open > .dropdown-toggle.btn-default {
  background-color: white;
}
.library .multiselect-container.dropdown-menu,
.page-template-library .multiselect-container.dropdown-menu {
  width: 100%;
  border-radius: 0;
  border: 1px solid #e7e7e7;
}
.library .dropdown-menu,
.page-template-library .dropdown-menu {
  min-width: initial;
}
.library .library-items,
.page-template-library .library-items {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .library .library-items,
.page-template-library .library-items {
    display: inline-block;
    padding-top: 30px;
  }
}
.library .library-items a,
.page-template-library .library-items a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
}
.library .library-items #load-more,
.page-template-library .library-items #load-more {
  text-align: center;
  font-size: 28px;
  color: #333;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  display: none;
}
@media (max-width: 767px) {
  .library .library-items #load-more,
.page-template-library .library-items #load-more {
    font-size: 22px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.library .library-items #load-more > span,
.page-template-library .library-items #load-more > span {
  cursor: pointer;
  color: #2b40ab;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  border-radius: 0;
  background-color: #fafafa;
  border-color: #ededed;
  padding: 10px 20px;
}
.library .library-items #msg-box,
.page-template-library .library-items #msg-box {
  text-align: center;
  font-size: 28px;
  width: 100%;
  color: #333;
  padding-top: 100px;
  padding-bottom: 100px;
  display: none;
}
@media (max-width: 767px) {
  .library .library-items #msg-box,
.page-template-library .library-items #msg-box {
    font-size: 22px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.library .library-item-image,
.page-template-library .library-item-image {
  width: 100%;
}
.library .item-container,
.page-template-library .item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .library .item-container,
.page-template-library .item-container {
    padding-top: 30px;
  }
}
.library .item-container p,
.page-template-library .item-container p {
  color: #9f9f9f;
  font-size: 16px;
}
.library .item-description,
.page-template-library .item-description {
  background-color: #fafafa;
  padding: 33px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  word-wrap: break-word;
  min-height: 240px;
}
.library footer,
.page-template-library footer {
  text-align: left;
}
.library footer h1,
.page-template-library footer h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  color: #c8c8c8;
}
.library .hidden,
.page-template-library .hidden {
  visibility: hidden;
}
.library #Container .mix,
.page-template-library #Container .mix {
  display: none;
}
.library #Container,
.page-template-library #Container {
  width: 100%;
}
.library .grid,
.page-template-library .grid {
  width: 100%;
}
.library .grid-item,
.page-template-library .grid-item {
  margin-bottom: 15px;
}
.library .grid-item .grid-item-img,
.page-template-library .grid-item .grid-item-img {
  background-image: url("../images/box-placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.library .grid-item .grid-item-img:before,
.page-template-library .grid-item .grid-item-img:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.6502463054%;
}
.library .grid-item .grid-item-img > div,
.page-template-library .grid-item .grid-item-img > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.library .multiselect-native-select,
.page-template-library .multiselect-native-select {
  display: inline-flex;
  font-size: 18px;
  width: 20%;
}
@media (max-width: 767px) {
  .library .multiselect-native-select,
.page-template-library .multiselect-native-select {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
  }
}
.library .multiselect-native-select .btn-group,
.page-template-library .multiselect-native-select .btn-group {
  border-right: 1px solid #e7e7e7;
  width: 100%;
}
@media (max-width: 767px) {
  .library .multiselect-native-select .btn-group,
.page-template-library .multiselect-native-select .btn-group {
    border-right: 0;
  }
}
.library .multiselect-native-select .caret,
.page-template-library .multiselect-native-select .caret {
  margin-left: 10px;
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.library .flex,
.page-template-library .flex {
  display: inline-flex;
  font-size: 0;
  border: 1px solid #e7e7e7;
}
.library .flex-children,
.page-template-library .flex-children {
  display: flex;
  flex-grow: 1;
}
.library .first,
.page-template-library .first {
  background: #fff;
  border-right: 1px solid #e7e7e7;
  align-items: center;
  justify-content: center;
  color: #9b9b9b;
}
@media (max-width: 767px) {
  .library .first,
.page-template-library .first {
    border-right: 0;
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
  }
}
.library .first p,
.page-template-library .first p {
  font-size: 14px;
  margin: 0;
}
.library .first + .multiselect-native-select::after,
.page-template-library .first + .multiselect-native-select::after {
  content: "";
  width: 12px;
  height: 20px;
  border-left: solid 10px #fff;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 767px) {
  .library .first + .multiselect-native-select::after,
.page-template-library .first + .multiselect-native-select::after {
    display: none;
  }
}
.library .first + .multiselect-native-select::before,
.page-template-library .first + .multiselect-native-select::before {
  content: "";
  width: 12px;
  height: 20px;
  border-left: solid 10px #e7e7e7;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}
@media (max-width: 767px) {
  .library .first + .multiselect-native-select::before,
.page-template-library .first + .multiselect-native-select::before {
    display: none;
  }
}
.library .multiselect-selected-text,
.page-template-library .multiselect-selected-text {
  font-size: 12px;
  font-weight: bold;
}
.library .geekout-nav-buttons,
.page-template-library .geekout-nav-buttons {
  width: 952px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .library .geekout-nav-buttons,
.page-template-library .geekout-nav-buttons {
    width: 738px;
  }
}
@media (max-width: 767px) {
  .library .geekout-nav-buttons,
.page-template-library .geekout-nav-buttons {
    border-left: 0;
    border-right: 0;
    width: 100%;
    border-bottom: 0;
  }
}
.library .geekout-nav-buttons .reset-filters,
.page-template-library .geekout-nav-buttons .reset-filters {
  cursor: pointer;
  color: #2b40ab;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}

.page-template-geekout #library-login-form {
  margin-top: 0px;
}
.page-template-geekout #library-login-form .auth0-login #a0LoginButton {
  background: #00849b;
  color: #fff;
  border: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-top: 5px;
  max-width: 200px;
  margin: 0 auto 50px;
}
.page-template-geekout #auth0-lock-container-1 .auth0-lock-submit {
  background: #00849b !important;
}

.our-company-container .nav-tabs > li.active > a,
.our-company-container .nav-tabs > li.active > a:focus,
.our-company-container .nav-tabs > li.active > a:hover,
.page-template-our-company .nav-tabs > li.active > a,
.page-template-our-company .nav-tabs > li.active > a:focus,
.page-template-our-company .nav-tabs > li.active > a:hover,
.page .nav-tabs > li.active > a,
.page .nav-tabs > li.active > a:focus,
.page .nav-tabs > li.active > a:hover {
  cursor: pointer;
}
.our-company-container p,
.page-template-our-company p,
.page p {
  font-size: 18px;
}
.our-company-container h1,
.page-template-our-company h1,
.page h1 {
  font-size: 50px;
  margin: 0;
  padding: 60px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .our-company-container h1,
.page-template-our-company h1,
.page h1 {
    font-size: 2.6rem;
  }
}
.our-company-container .navbar-geopath,
.page-template-our-company .navbar-geopath,
.page .navbar-geopath {
  top: 0;
}

.our-company {
  position: relative;
}
.our-company .gradient::before {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 460px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.tab-to-geopath {
  margin-top: 75px;
  background-image: url("../images/blackmap.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #000;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .tab-to-geopath {
    margin-top: 55px;
  }
}
.tab-to-geopath h1 {
  color: #fff;
}
.tab-to-geopath .img-space {
  margin: 30px auto 100px;
}
@media (max-width: 767px) {
  .tab-to-geopath .img-space {
    margin: 30px auto 60px;
  }
}

.market-locator {
  background-image: url("../images/white-map.png");
  background-repeat: no-repeat;
  background-position: center -1px;
  background-color: #fff;
  padding-bottom: 100px;
}
.market-locator h1 {
  color: #000;
}
.market-locator p {
  color: #000;
  font-size: 30px;
}
@media (max-width: 767px) {
  .market-locator p {
    font-size: 1.2rem;
  }
}
.market-locator .flex {
  display: flex;
  height: 516px;
  overflow: scroll;
}
.market-locator iframe {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  height: 516px;
}
@media (min-width: 768px) {
  .market-locator iframe {
    width: 768px;
  }
}
.market-locator .market-locator__iframe {
  margin-top: 80px;
}

.our-members, .our-board {
  background-image: url("../images/blackmap.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #000;
  padding-bottom: 100px;
}
.our-members-tab, .our-board-tab {
  cursor: pointer;
  color: #fff;
}
.our-members-tab__link, .our-board-tab__link {
  color: #7a7a7a;
}
.our-members-tab__link:hover, .our-board-tab__link:hover {
  color: #7a7a7a;
}
.our-members .dataTables_scroll, .our-board .dataTables_scroll {
  min-height: 300px;
}
.our-members .dataTables_scrollBody, .our-board .dataTables_scrollBody {
  max-height: 400px !important;
}
.our-members .nav-tabs > li > a:hover, .our-board .nav-tabs > li > a:hover {
  background-color: #111111;
}
.our-members .nav-tabs, .our-board .nav-tabs {
  border-bottom: 1px solid #7a7a7a;
}
.our-members .nav-tabs > li.active > a,
.our-members .nav-tabs > li.active > a:focus,
.our-members .nav-tabs > li.active > a:hover, .our-board .nav-tabs > li.active > a,
.our-board .nav-tabs > li.active > a:focus,
.our-board .nav-tabs > li.active > a:hover {
  background-color: #111111;
  border: 1px solid #7a7a7a;
  border-bottom: transparent;
}
.our-members .table, .our-board .table {
  color: #7a7a7a;
}
.our-members .table thead, .our-board .table thead {
  background-color: #111111;
}
.our-members .table-striped > tbody > tr:nth-child(2n+1) > td,
.our-members .table-striped > tbody > tr:nth-child(2n+1) > th, .our-board .table-striped > tbody > tr:nth-child(2n+1) > td,
.our-board .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #1d1d1d;
}
.our-members .table > tbody > tr > td,
.our-members .table > tbody > tr > th,
.our-members .table > tfoot > tr > td,
.our-members .table > tfoot > tr > th,
.our-members .table > thead > tr > td,
.our-members .table > thead > tr > th, .our-board .table > tbody > tr > td,
.our-board .table > tbody > tr > th,
.our-board .table > tfoot > tr > td,
.our-board .table > tfoot > tr > th,
.our-board .table > thead > tr > td,
.our-board .table > thead > tr > th {
  border: 0px;
  color: #7a7a7a;
}
.our-members .tables-container, .our-board .tables-container {
  background-color: #000;
  border: 1px solid #252525;
  padding: 10px;
}
@media (min-width: 992px) {
  .our-members .tables-container, .our-board .tables-container {
    width: 992px;
    margin: 0 auto;
  }
}
.our-members .dataTables_wrapper, .our-board .dataTables_wrapper {
  border: 1px solid #7a7a7a;
}
.our-members .dataTables_length,
.our-members .dataTables_info,
.our-members .dataTables_filter,
.our-members .dataTables_paginate, .our-board .dataTables_length,
.our-board .dataTables_info,
.our-board .dataTables_filter,
.our-board .dataTables_paginate {
  padding: 10px;
  color: #7a7a7a;
  font-weight: bold;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 0;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background: #000;
  color: #7a7a7a;
  cursor: pointer;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #111111;
  border-color: #c8c8c8;
  color: #7a7a7a;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  background-color: #1d1d1d;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: black;
  color: #7a7a7a;
}

.our-board {
  background-image: url("../images/white-map.png");
  background-color: #fff;
  color: #000;
}
.our-board-tab {
  cursor: pointer;
}
.our-board-tab__link {
  color: #4e6283;
}
.our-board-tab__link:hover {
  color: #4e6283;
}
.our-board .tables-container {
  background-color: #fff;
  border: 0;
}
.our-board .our-board__table {
  margin-top: 80px;
}
.our-board .nav-tabs > li > a:hover {
  background-color: #f6fafe;
  border-color: #4e6283;
}
.our-board .nav-tabs {
  border-bottom: 1px solid #4e6283;
}
.our-board .nav-tabs > li.active > a,
.our-board .nav-tabs > li.active > a:focus,
.our-board .nav-tabs > li.active > a:hover {
  background-color: #f6fafe;
  border: 1px solid #4e6283;
  border-bottom: transparent;
}
.our-board .pagination > .disabled > a,
.our-board .pagination > .disabled > a:focus,
.our-board .pagination > .disabled > a:hover,
.our-board .pagination > .disabled > span,
.our-board .pagination > .disabled > span:focus,
.our-board .pagination > .disabled > span:hover {
  background: #fff;
  color: #4e6283;
  cursor: pointer;
}
.our-board .pagination > .active > a,
.our-board .pagination > .active > a:focus,
.our-board .pagination > .active > a:hover,
.our-board .pagination > .active > span,
.our-board .pagination > .active > span:focus,
.our-board .pagination > .active > span:hover {
  background: #f6fafe;
  border-color: #8295b5;
  color: #4e6283;
  cursor: pointer;
}
.our-board .pagination > li > a,
.our-board .pagination > li > span {
  background-color: #ebeff3;
  color: #4e6283;
  border: 1px solid #4e6283;
}
.our-board .pagination > li > a:focus,
.our-board .pagination > li > a:hover,
.our-board .pagination > li > span:focus,
.our-board .pagination > li > span:hover {
  background-color: #cbd6e0;
  color: #4e6283;
}
.our-board .table {
  color: #4e6283;
  font-weight: normal;
}
.our-board .table thead {
  background-color: #f6fafe;
}
.our-board .table-striped > tbody > tr > td,
.our-board .table-striped > tbody > tr > th {
  background-color: #fff;
}
.our-board .table-striped > tbody > tr:nth-child(2n+1) > td,
.our-board .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #ebeff3;
}
.our-board .table > tbody > tr > td,
.our-board .table > tbody > tr > th,
.our-board .table > tfoot > tr > td,
.our-board .table > tfoot > tr > th,
.our-board .table > thead > tr > td,
.our-board .table > thead > tr > th {
  border: 0px;
  color: #000;
}
.our-board .table > thead > tr > td,
.our-board .table > thead > tr > th {
  color: #4e6283;
}
.our-board .dataTables_wrapper {
  border: 1px solid #4e6283;
}
.our-board .dataTables_length,
.our-board .dataTables_info,
.our-board .dataTables_filter,
.our-board .dataTables_paginate {
  padding: 10px;
  color: #4e6283;
  font-weight: bold;
}
.our-board .dataTables_length .form-control,
.our-board .dataTables_info .form-control,
.our-board .dataTables_filter .form-control,
.our-board .dataTables_paginate .form-control {
  border: 1px solid #abbccd;
}

.page-content {
  min-height: 450px;
  background-image: url("../images/white-map.png");
  background-repeat: no-repeat;
  background-position: center -1px;
  background-color: #fff;
  color: #000;
  padding-top: 50px;
}
.page-content h1 {
  font-size: 50px;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  color: inherit;
}
@media (max-width: 991px) {
  .page-content h1 {
    font-size: 2.6rem;
  }
}
.page-content p {
  font-size: 18px;
  color: #000;
}
@media (max-width: 991px) {
  .page-content p {
    font-size: 1.2rem;
  }
}
.page-content .page-header-img {
  padding-top: 35px;
  padding-bottom: 35px;
}

.error404 .not-found-content {
  text-align: center;
  padding-top: 50px;
}
.error404 .not-found-content h2 {
  font-size: 38px;
}
@media (max-width: 767px) {
  .error404 .not-found-content h2 {
    font-size: 32px;
  }
}

.page-template-news {
  background-image: initial;
}
.page-template-news .grid {
  width: 100%;
  display: inline-block;
}
.page-template-news .grid-item {
  margin-bottom: 15px;
}
.page-template-news .grid-item .grid-item-img {
  background-image: url("../images/box-placeholder.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.page-template-news .grid-item .grid-item-img:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.6502463054%;
}
.page-template-news .grid-item .grid-item-img > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-template-news .grid-item .item-description {
  background-color: #eeeeee;
  padding: 33px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  word-wrap: break-word;
  min-height: 240px;
}
.page-template-news .item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .page-template-news .item-container {
    padding-top: 30px;
  }
}
.page-template-news .item-container p {
  color: #9f9f9f;
  font-size: 16px;
}
.page-template-news .item-container:nth-child(3n+1) {
  clear: left;
}
@media (max-width: 991px) {
  .page-template-news .item-container:nth-child(3n+1) {
    clear: none;
  }
  .page-template-news .item-container:nth-child(2n+1) {
    clear: left;
  }
}
.page-template-news .see-all-cont {
  margin: 90px 0 40px;
  text-align: center;
}
.page-template-news .see-all-cont span,
.page-template-news .see-all-cont span:active:hover {
  cursor: pointer;
  color: #2b40ab;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  border-radius: 0;
  background-color: #fafafa;
  border-color: #ededed;
  padding: 10px 20px;
}
.page-template-news a {
  text-decoration: none;
}

.intro-news-section {
  padding-top: 120px;
  color: #000;
}
.intro-news-section h1 {
  color: #1d1d1d;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  padding: 40px 0;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #efefef;
}
.intro-news-section .tabs-swith-block {
  margin: 40px 0 70px;
  text-align: center;
}
.intro-news-section .tabs-swith-block .tab-link {
  padding: 0 5%;
  display: inline-block;
  color: #1d1d1d;
  font-size: 34px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.intro-news-section .tabs-swith-block .tab-link.current {
  color: #00879a;
}

section.tab-content {
  display: none;
  color: #1d1d1d;
  padding-bottom: 50px;
}
section.tab-content#press {
  display: block;
}
section.tab-content.blog {
  background-color: #fff;
}
section.tab-content.blog .blog-link {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  section.tab-content.blog .blog-link {
    padding-top: 30px;
  }
}
section.tab-content.blog .blog-post {
  background-color: #eeeeee;
  position: relative;
  text-align: center;
  padding: 70px 33px 90px;
}
section.tab-content.blog .blog-post a {
  color: #303030;
}
section.tab-content.blog .blog-post a.view-post {
  padding: 10px 50px;
  background-color: #303030;
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s ease-in-out;
}
section.tab-content.blog .blog-post a.view-post:hover {
  background-color: #676767;
}
section.tab-content.blog .blog-post .date-post {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background: #303030;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding-top: 15px;
}
section.tab-content.blog .blog-image-container:hover:before {
  background-color: transparent;
}
section.tab-content.blog p {
  color: #9f9f9f;
}
section.tab-content.blog .see-all-posts {
  text-align: center;
  width: 100%;
  margin: 40px 0;
}
section.tab-content.blog .see-all-posts a {
  display: inline-block;
  padding: 10px 50px;
  background-color: #303030;
  color: #fff;
  font-size: 19px;
  transition: opacity 0.3s ease-in-out;
}
section.tab-content.blog .see-all-posts a:hover {
  opacity: 0.8;
}
section.tab-content p.hero-twitter-section {
  color: #191919;
  font-size: 48px;
  font-weight: 300;
  font-style: italic;
  line-height: 60px;
  margin-bottom: 30px;
}
section.tab-content .banner-twitter {
  float: left;
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 65px;
}
section.tab-content .twitter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section.tab-content .twitter-wrapper > div {
  margin-bottom: 15px;
}
section.tab-content .twitter-wrapper .centered {
  width: 100%;
  text-align: center;
}
section.tab-content .twitter-wrapper .load-more-tweet {
  margin: 90px 0 40px;
  text-align: center;
  width: 100%;
}
section.tab-content .twitter-wrapper .load-more-tweet span {
  cursor: pointer;
  color: #2b40ab;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  border-radius: 0;
  background-color: #fafafa;
  border-color: #ededed;
  padding: 10px 20px;
}
section.tab-content .tweet-item {
  min-height: 230px;
  padding: 25px;
  background: #949494;
  background: -moz-linear-gradient(45deg, #b5b5b5 0%, #949494 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b5b5b5 0%, #949494 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b5b5b5 0%, #949494 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b5b5b5", endColorstr="#949494",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  height: 100%;
}
section.tab-content .tweet-item .user_block {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}
section.tab-content .tweet-item .user_block img {
  border-radius: 50%;
  margin-right: 10px;
  max-width: 60px;
  float: left;
}
section.tab-content .tweet-item .user_block p.user-name-cont {
  line-height: 15px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  padding-top: 15px;
}
section.tab-content .tweet-item .user_block p.user-name-cont span {
  font-size: 10px;
  font-weight: 300;
}
section.tab-content .tweet-item p {
  margin-bottom: 15px;
}
section.tab-content .tweet-item p a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
section.tab-content .tweet-item .tweet_time {
  font-size: 14px;
}
section.tab-content .tweet-item a {
  color: #fff;
}

.info-section {
  position: relative;
  width: 100%;
}
.info-section h2 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .info-section h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .info-section h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .info-section h2 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .info-section p {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .info-section p {
    font-size: 20px;
  }
}
.info-section h2, .info-section p {
  margin-bottom: 20px;
}

.what-we-do > .row > div {
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.what-we-do > .row > div:nth-child(n+4) {
  background-color: black;
}

.fancybox-skin .fancybox-nav {
  width: 60px;
}
.fancybox-skin .fancybox-nav span {
  visibility: visible;
}
.fancybox-skin .fancybox-next {
  right: -60px;
}
.fancybox-skin .fancybox-prev {
  left: -60px;
}

/*# sourceMappingURL=styles.css.map */
